.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  gap: 5px;
}

.flex-item {
  background-color: #800080;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  margin: 2px;
}

/* Flex Container 1 */
.flex-container-1 {
  justify-content: center;
  align-items: center;
}

.flex-container-1 .item1,
.flex-container-1 .item2,
.flex-container-1 .item3,
.flex-container-1 .item4,
.flex-container-1 .item5 {
  flex: 0 0 70px;
}

.flex-container-1 .item6,
.flex-container-1 .item7,
.flex-container-1 .item8 {
  flex: 0 0 70px;
  margin-top: 200px; /* Adding some margin to separate rows */
}

/* Flex Container 2 */
.flex-container-2 {
  flex-direction: row-reverse;
  justify-content: center;
}

.flex-container-2 .item8,
.flex-container-2 .item7 {
  flex-direction: column-reverse;
}

.flex-container-2 .item8,
.flex-container-2 .item7,
.flex-container-2 .item6,
.flex-container-2 .item5,
.flex-container-2 .item4,
.flex-container-2 .item3,
.flex-container-2 .item2,
.flex-container-2 .item1 {
  flex-direction: row;
}

/* Flex Container 3 */
.flex-container-3 {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 400px;
}

.flex-container-3 .item1,
.flex-container-3 .item2,
.flex-container-3 .item3,
.flex-container-3 .item4,
.flex-container-3 .item5 {
  height: 70px;
  width: 70px;
}

/* Flex Container 4 */
.flex-container-4 {
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Flex Container 5 */
.flex-container-5 {
  justify-content: space-between;
}

.flex-container-5 .item1 {
  order: 1;
}

.flex-container-5 .item2 {
  order: 2;
}

.flex-container-5 .item3 {
  order: 3;
}

.flex-container-5 .item4 {
  order: 4;
}

.flex-container-5 .item5 {
  order: 5;
}

.flex-container-5 .item6 {
  order: 6;
}

.flex-container-5 .item7 {
  order: 7;
}

.flex-container-5 .item8 {
  order: 8;
}

/* Flex Container 6 */
.flex-container-6 {
  flex-wrap: wrap;
  height: 210px;
  align-content: space-between;
}

.flex-container-6 .item1,
.flex-container-6 .item2,
.flex-container-6 .item3,
.flex-container-6 .item4,
.flex-container-6 .item5,
.flex-container-6 .item6,
.flex-container-6 .item7,
.flex-container-6 .item8 {
  width: 70px;
  height: 70px;
}
